.player{
  overflow:auto;
  height:80px;
  position:fixed;
  bottom:0%;
  width:100%;
  margin-left:50px;
  margin-right:50px;
  background-color:whitesmoke;
  padding-top:20px;
  padding-bottom:20px;
  border-top-left-radius:20px;
  border-top-right-radius:20px;
}
h1{
  color:whitesmoke;
  font-family:Montserrat;
}
#previous{
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);

}
